.ant-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    width: 100%;
    text-align: end;
    height: 10%;
    .ant-pagination-total-text {
        opacity: 0.5;
    }
}
.ant-table-wrapper {
    position: absolute;
    max-height: 90%;
    margin-top: 10px;
    // .ant-table-thead {
    //     position: fixed;
    // }
    overflow-y: scroll;
    // .ant-table-container > .ant-table-header{
    //     position: absolute;
    // }
    // .ant-table-container .ant-table-body{
    //    overflow-y: auto;
    // }
}
