.ant-pagination {
    bottom: 0;
    right: 0;
    padding: 15px;
    width: 100%;
    text-align: end;
    height: 10%;
    .ant-pagination-total-text {
        opacity: 0.5;
    }
}

.ant-popover {
    .ant-popover-inner {
        padding: 0;
    }
    .ant-popover-title {
        margin: 0;
        font-weight: 500;
        border-bottom: 1px solid #f0f0f0;
        padding: 10px 15px;
    }
    .ant-popover-inner-content {
        padding: 10px 15px;
    }
}
.tree-no-children .ant-tree-treenode .ant-tree-indent,
.tree-no-children .ant-tree-treenode .ant-tree-switcher {
    display: none;
}

.ant-tree {
    .ant-tree-checkbox.ant-tree-checkbox-checked .ant-tree-checkbox-inner {
        background-color: #002060 !important;
        border-color: #002060 !important;
    }
}
