body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: 'Poppins', sans-serif !important;
}

p,
div,
span,
input {
    font-family: 'Poppins', sans-serif !important;
}

.ant-layout-content {
    background: rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    .content-header .content-header_item:not(:last-child) {
        margin-right: 15px;
    }
}
.ant-table-wrapper {
    position: absolute;
    width: 100%;
    max-height: 90%;
    margin-top: 10px;
    overflow-y: scroll;
}

.ant-table-container {
    font-size: 13px !important;
    tr > th {
        padding: 9px 16px !important;
    }
    tr > td {
        line-height: 13px;
    }
    .ant-table-thead > tr > th {
        background: #fff;
    }
}
.ant-table-footer {
    opacity: 0.5;
    background: #fff !important;
}
.ant-tabs {
    height: 100%;
    .ant-tabs-nav {
        &::before {
            content: none;
            border-bottom: none !important;
        }
        .ant-tabs-nav-wrap {
            .ant-tabs-tab {
                background: #fff;
                padding: 10px 15px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 500;
            }
            .ant-tabs-tab.ant-tabs-tab-active {
                border-bottom: none;
                background: #002060;
                .ant-tabs-tab-btn {
                    color: #fff;
                }
            }
            .ant-tabs-ink-bar {
                display: none !important;
            }
        }
    }
    .ant-tabs-content-holder {
        height: 100%;
        .ant-tabs-content {
            height: 100%;
        }
    }
}

.ant-modal-content {
    padding: 0 !important;
    border-radius: 15px;
    overflow: hidden;
    .ant-modal-title {
        color: #002060;
    }
}
.ant-row .ant-form-item {
    margin-bottom: 15px;

    .ant-form-item-row {
        margin: 0px 5px;
    }
    .ant-form-item-label {
        padding: 0;
    }
}
.ant-input.form-input {
    height: 40px;
}
.ant-modal-footer .ant-btn {
    height: 40px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
}
.ant-btn-primary {
    &:hover {
        background-color: #002060 !important;
    }
    background-color: #002060;
}

.dot-outlined {
    display: inline-block;
    height: 6px;
    width: 6px;
    background: #000;
    border-radius: 50%;
    margin-right: 5px;
}
